[Desktop Entry]
Name=QuteCSound
Exec=qutecsound
Icon=qtcs
Terminal=false
Type=Application
Categories=Application;AudioVideo;
StartupNotify=false
Encoding=UTF-8
