[Desktop Entry]
Name=zynaddsubfx
Comment=An opensource software synthesizer
Exec=/usr/bin/zynaddsubfx
Icon=/usr/share/pixmaps/zynaddsubfx.ico
Terminal=false
Type=Application
Categories=AudioVideo;
