[Desktop Entry]
Version=0.4.2
Name=Patchage
Comment=A modular patch bay for audio and MIDI systems
Exec=patchage
Terminal=false
Type=Application
Icon=patchage.png
Categories=Application;AudioVideo;
StartupNotify=false
Encoding=UTF-8
